{% extends "layouts/base.html" %}
{% load i18n static %}

{% block extrahead %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet">
<style>
    #calendar {
        max-width: 900px;
        margin: 20px auto;
    }
    .btn-container {
        text-align: center;
        margin-bottom: 20px;
    }
    .btn {
        padding: 10px 20px;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }
    .fc-event .closeon {
        position: absolute;
        top: 2px;
        right: 2px;
        cursor: pointer;
        color: #fff;
        background: #d9534f;
        border-radius: 50%;
        padding: 1px 3px;
        font-size: 10px;
        z-index: 1000; /* Asegurarse de que la "X" esté siempre por encima */
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="btn-container">
        <button class="btn" id="saveEvents">Guardar Horarios</button>
        <a href="javascript:history.back()" class="btn btn-secondary">Cancelar</a>
    </div>
    <div id="calendar"></div>
</div>
{% endblock %}

{% block extrascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.js"></script>

<script>
    $(document).ready(function () {
        // Obtener parámetros de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const semanaInicio = urlParams.get('semana_inicio');
        const semanaFin = urlParams.get('semana_fin');
        const profesorId = urlParams.get('profesor_id');  // Obtener profesor_id si existe

        console.log("Semana Inicio:", semanaInicio);
        console.log("Semana Fin:", semanaFin);

        // Hacer una solicitud AJAX para obtener las fechas mínima y máxima basadas en las semanas
        $.ajax({
            url: "{% url 'obtener_fechas_min_max' %}",
            data: {
                'semana_inicio': semanaInicio,
                'semana_fin': semanaFin
            },
            dataType: 'json',
            success: function(data) {
                var fechaInicioMin = data.fecha_inicio_min;
                var fechaFinMax = data.fecha_fin_max;

                console.log("Fecha Inicio Min:", fechaInicioMin);
                console.log("Fecha Fin Max:", fechaFinMax);

                // Crear los eventos a partir de las disponibilidades
                var events = [
                    {% for disponibilidad in disponibilidades %}
                    {
                        title: "{{ disponibilidad.3 }}",
                        start: "{{ disponibilidad.0|date:'Y-m-d' }}T{{ disponibilidad.1|time:'H:i:s' }}",
                        end: "{{ disponibilidad.0|date:'Y-m-d' }}T{{ disponibilidad.2|time:'H:i:s' }}"
                    }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ];

                console.log("Events:", events);

                // Inicializar el calendario
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: ''
                    },
                    defaultView: 'agendaWeek',
                    locale: 'es',
                    minTime: '07:00:00',  // Hora mínima para mostrar en el calendario
                    maxTime: '24:00:00',  // Hora máxima para mostrar en el calendario
                    validRange: {
                        start: fechaInicioMin,
                        end: moment(fechaFinMax).add(1, 'days').format('YYYY-MM-DD')  // Añadir un día a la fecha de fin para incluirla
                    },
                    events: events,
                    selectable: true,
                    selectHelper: true,
                    select: function (start, end) {
                        var eventData = {
                            title: 'Nuevo Evento',
                            start: start,
                            end: end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true);
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventRender: function(event, element) {
                        console.log("Event Start:", event.start.format());
                        console.log("Event End:", event.end ? event.end.format() : null);

                        element.append("<span class='closeon'>X</span>");
                        element.find(".closeon").click(function() {
                            $('#calendar').fullCalendar('removeEvents', event._id);
                        });
                    }
                });
            },
            error: function(xhr, status, error) {
                console.error('Error al obtener las fechas:', error);
            }
        });

        // Función para guardar eventos en el servidor
        function saveEvents() {
            var events = $('#calendar').fullCalendar('clientEvents');
            var eventData = events.map(event => ({
                title: event.title,
                start: event.start.format(),
                end: event.end ? event.end.format() : null
            }));

            fetch('{% url "disponibilidad_create" %}?semana_inicio=' + semanaInicio + '&semana_fin=' + semanaFin + (profesorId ? '&profesor_id=' + profesorId : ''), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')  // Asegúrate de enviar el token CSRF
                },
                body: JSON.stringify(eventData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    alert("Horarios guardados correctamente.");
                    window.location.href = document.referrer; // Redirigir a la página anterior
                } else {
                    alert("Error al guardar los horarios.");
                }
            })
            .catch(error => console.error('Error:', error));
            console.log(JSON.stringify(eventData));
        }

        // Asociar funciones a los botones
        $('#saveEvents').click(saveEvents);
        $('#cancelButton').click(function() {
            window.location.href = "{% url 'disponibilidad_list' %}";
        });

        // Función para obtener el token CSRF
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
{% endblock %}
