{% extends "layouts/base.html" %}
{% load i18n static %}

{% block extrahead %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet">
<style>
    #calendar {
        max-width: 900px;
        margin: 20px auto;
    }

    .btn-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="btn-container">
        <button class="btn" id="saveEvents">Guardar Horarios</button>
    </div>
    <div id="calendar"></div>
</div>
{% endblock %}

{% block extrascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.js"></script>
<script>
    $(document).ready(function () {
        // Hacer una solicitud AJAX para obtener las fechas mínima y máxima
        $.ajax({
            url: "{% url 'obtener_fechas_min_max' %}",
            dataType: 'json',
            success: function(data) {
                var fechaInicioMin = data.fecha_inicio_min;
                var fechaFinMax = data.fecha_fin_max;
                
                // Configurar el rango válido en el calendario
                $('#calendar').fullCalendar('option', 'validRange', {
                    start: fechaInicioMin,
                    end: fechaFinMax
                });
            },
            error: function(xhr, status, error) {
                console.error('Error al obtener las fechas:', error);
            }
        });

        function saveEvents() {
            var events = $('#calendar').fullCalendar('clientEvents');
            var eventData = events.map(event => ({
                title: event.title,
                start: event.start.format(),
                end: event.end ? event.end.format() : null
            }));

            fetch('{% url "disponibilidad_create" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')  // Asegúrate de enviar el token CSRF
                },
                body: JSON.stringify(eventData)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "success") {
                        alert("Horarios guardados correctamente.");
                    } else {
                        alert("Error al guardar los horarios.");
                    }
                })
                .catch(error => console.error('Error:', error));
            console.log(JSON.stringify(eventData));
        }

        // Inicializar el calendario
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: ''
            },
            defaultView: 'agendaWeek',
            selectable: true,
            selectHelper: true,
            hiddenDays: [0],  
            locale: 'es',  // Establece el idioma a español

            select: function (start, end) {
                var title = prompt('Ingrese el nombre del evento:');
                if (title) {
                    var eventData = {
                        title: title,
                        start: start,
                        end: end
                    };
                    $('#calendar').fullCalendar('renderEvent', eventData, true);
                }
                $('#calendar').fullCalendar('unselect');
            },
            editable: true,
            events: [],
            minTime: '07:00:00',
            maxTime: '24:00:00',
            slotLabelFormat: 'H(:mm)' // Formato de 24 horas
        });

        // Asociar funciones a los botones
        $('#saveEvents').click(saveEvents);

        // Función para obtener el token CSRF
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>

{% endblock %}
