{% extends "layouts/base.html" %}
{% load i18n static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h6>Disponibilidad del profesor</h6>
                </div>
                <div class="card-body">
                    {% if request.user.is_superuser %}
                        <form method="get" action="{% url 'disponibilidad_list' %}">
                            <div class="form-group">
                                <label for="profesor_id">Seleccionar Profesor:</label>
                                <select name="profesor_id" id="profesor_id" class="form-control" onchange="this.form.submit()">
                                    {% for profesor in profesores %}
                                        <option value="{{ profesor.id }}" {% if profesor.id|stringformat:"s" == profesor_id %}selected{% endif %}>{{ profesor.apellidos_nombres }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    {% endif %}
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th>Semana Inicio</th>
                                <th>Semana Fin</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for disponibilidad in disponibilidades %}
                                <tr class="text-center">
                                    <td>{{ disponibilidad.0 }}</td>
                                    <td>{{ disponibilidad.1 }}</td>
                                    <td>
                                        <a href="{% url 'ver_disponibilidad' disponibilidad.0 disponibilidad.1 %}?profesor_id={{ profesor_id }}" class="btn btn-primary">Ver</a>
                                        <a href="{% url 'disponibilidad_create' %}?semana_inicio={{ disponibilidad.0 }}&semana_fin={{ disponibilidad.1 }}&profesor_id={{ profesor_id }}" class="btn btn-success">Disponibilidad</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
