
{% extends "layouts/base.html" %}
{% load i18n static %}

{% block content %}


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="container-fluid py-4">

                    <div class="">
        <h1 class="mb-4">Compensación de Horas</h1>
        <a href="{% url 'exportar_excel_compensacion_horas' %}" class="btn btn-success mb-4">Exportar a Excel</a>

        <div class="bg-red">
            <strong>Total de Duración de Sustentación: </strong> {{ total_duracion_sustentacion }} minutos
        </div>

        <table class="table table-striped text-center">
            <thead class="">
                <tr>
                    <th>Compensan Horas</th>
                    <th>Duración Sustentación</th>
                    <th>Curso</th>
                    <th>Código Universitario</th>
                    <th>Estudiante</th>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Título</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row.compensan_horas }}</td>
                        <td>{{ row.duracion_sustentacion }}</td>
                        <td>{{ row.curso }}</td>
                        <td>{{ row.codigo_universitario }}</td>
                        <td>{{ row.estudiante }}</td>
                        <td>{{ row.fecha }}</td>
                        <td>{{ row.hora_inicio }}</td>
                        <td>{{ row.titulo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}