{% extends "layouts/base.html" %}
{% load i18n static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h2>Editar Sustentación</h2>
                </div>
                <div class="card-body">
                    {% if messages %}
                    <div>
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                        <ul>
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_cursos_grupos">Curso - Grupo:</label>
                            {{ form.cursos_grupos }}
                        </div>
                        <div class="form-group">
                            <label for="id_estudiante">Estudiante:</label>
                            {{ form.estudiante }}
                        </div>

                        <div class="form-group">
                            <label for="id_fecha">Fecha:</label>
                            {{ form.fecha }}
                            <strong>Ten encuenta!</strong> Los jurados se filtraran por la fecha que selecciones. 
                        </div>
                        <div class="form-group">
                            <label for="id_hora_inicio">Hora inicio:</label>
                            {{ form.hora_inicio }}
                        </div>
                        <div class="form-group">
                            <label for="id_hora_fin">Hora fin:</label>
                            {{ form.hora_fin }}
                        </div>
                        <strong>Ten encuenta!</strong> Puede que los jurados ya no esten libres, se recomienda hablar con los profesores y colocar mas disponibilidad horaria y ejecutar el algoritmo otra vez. 
                        <div class="form-group">
                            <label for="id_jurado1">Jurado1:</label>
                            {{ form.jurado1 }}
                        </div>
                        <div class="form-group">
                            <label for="id_jurado2">Jurado2:</label>
                            {{ form.jurado2 }}
                        </div>
                        <div class="form-group">
                            <label for="id_asesor">Asesor:</label>
                            {{ form.asesor }}
                        </div>
                        <div class="form-group">
                            <label for="id_titulo">Título:</label>
                            {{ form.titulo }}
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{% url 'ejecutar_algoritmo' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#id_fecha').change(function () {
            var fecha = $(this).val();
            if (fecha) {
                $.ajax({
                    url: '',
                    data: {
                        'fecha': fecha,
                    },
                    dataType: 'json',
                    success: function (data) {
                        $('#id_jurado1, #id_jurado2, #id_asesor').empty();
                        $('#id_jurado1, #id_jurado2, #id_asesor').append('<option value="">Seleccionar...</option>');
                        $.each(data, function (key, value) {
                            $('#id_jurado1, #id_jurado2, #id_asesor').append('<option value="' + value.id + '">' + value.apellidos_nombres + '</option>');
                        });
                    }
                });
            } else {
                $('#id_jurado1, #id_jurado2, #id_asesor').empty();
            }
        });
    });
</script>

{% endblock %}