{% extends "layouts/base.html" %}
{% load i18n static %}

{% block content %}
<div class="container-fluid py-4"> 
    <div class="row"> 
        <div class="col-12"> 
            <div class="card"> 
                <div class="card-header pb-0"> 
                    <h2>Ejecutar Algoritmo Genético</h2> 
                </div> 
                <div class="card-body"> 
                    {% if messages %} 
                        <div> 
                            {% for message in messages %} 
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div> 
                            {% endfor %} 
                        </div> 
                    {% endif %} 
                    <form method="get" class="mb-3 form-row"> 
                        <div class="form-group col mr-3"> 
                            <label for="semestre">Seleccionar Semestre</label> 
                            <select name="semestre" id="semestre" class="form-control"> 
                                <option value="">Todos</option> 
                                {% for semestre in semestres %} 
                                    <option value="{{ semestre.id }}" {% if semestre.id|stringformat:"s" == semestre_id %}selected{% endif %}>{{ semestre.nombre }}</option> 
                                {% endfor %} 
                            </select> 
                        </div> 
                        <div class="form-group col mr-3"> 
                            <label for="tipo_sustentacion" class="mr-2">Tipo de Sustentación:</label> 
                            <select id="tipo_sustentacion" name="tipo_sustentacion" class="form-control custom-select-lg"> 
                                <option value="">Todos</option> 
                                <option value="PARCIAL" {% if tipo_sustentacion == 'PARCIAL' %}selected{% endif %}>Parcial</option> 
                                <option value="FINAL" {% if tipo_sustentacion == 'FINAL' %}selected{% endif %}>Final</option> 
                            </select> 
                        </div> 
                        <div class="form-group col mr-3"> 
                            <label for="curso_grupo">Curso - Grupo</label> 
                            <select name="curso_grupo" id="curso_grupo" class="form-control"> 
                                <option value="">Todos</option> 
                                {% for curso_grupo in cursos_grupos %} 
                                    <option value="{{ curso_grupo.id }}" {% if curso_grupo.id|stringformat:"s" == curso_grupo_id %}selected{% endif %}>{{ curso_grupo.curso.nombre }} - {{ curso_grupo.grupo.nombre }}</option> 
                                {% endfor %} 
                            </select> 
                        </div>  
                        <div class="form-group col"> 
                            <button type="submit" class="btn btn-primary mt-4">Filtrar</button> 
                            <button type="button" class="btn btn-success mt-4" id="enviar-notificaciones">Notificar</button> 
                        </div> 
                    </form> 
                    <form method="post"> 
                        {% csrf_token %} 
                        <button type="submit" class="btn btn-success">Ejecutar Algoritmo</button> 
                    </form> 
                    <h6>Listado de Sustentaciones</h6> 
                    <div class="table-responsive"> 
                        <table class="table"> 
                            <thead> 
                                <tr> 
                                    <th>Curso - Grupo</th> 
                                    <th>Estudiante</th> 
                                    <th>Jurado 1</th> 
                                    <th>Jurado 2</th> 
                                    <th>Asesor</th> 
                                    <th>Título</th>
                                    <th>Fecha</th>
                                    <th>Hora Inicio</th>
                                    <th>Hora Fin</th>
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for horario in sustentaciones_con_horarios %} 
                                <tr> 
                                  <td>{{ horario.sustentacion.cursos_grupos.curso.nombre }} - {{ horario.sustentacion.cursos_grupos.grupo.nombre }}</td> 
                                  <td>{{ horario.sustentacion.estudiante.apellidos_nombres }}</td> 
                                  <td>{{ horario.sustentacion.jurado1.apellidos_nombres }}</td> 
                                  <td>{{ horario.sustentacion.jurado2.apellidos_nombres }}</td> 
                                  <td>{{ horario.sustentacion.asesor.apellidos_nombres }}</td> 
                                  <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">{{ horario.sustentacion.titulo }}</td> 
                                  <td>{{ horario.fecha }}</td>
                                  <td>{{ horario.hora_inicio }}</td>
                                  <td>{{ horario.hora_fin }}</td>
                                  <td><a href="{% url 'editar_sustentacion' horario.sustentacion.id %}" class="btn btn-primary">Editar</a></td>
                              </tr> 
                              
                                {% endfor %} 
                            </tbody> 
                        </table> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
</div>

<script>
  $(document).ready(function(){
    $('#enviar-notificaciones').click(function(){
        var form_data = {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'semestre': $('#semestre').val(),
            'tipo_sustentacion': $('#tipo_sustentacion').val(),
            'curso_grupo': $('#curso_grupo').val()
        };

        $.ajax({
            url: "{% url 'send_notifications' %}",
            type: "POST",
            data: form_data,
            beforeSend: function() {
                console.log('Enviando solicitud AJAX para enviar notificaciones');
            },
            success: function(data) {
                console.log('Notificaciones enviadas correctamente');
                alert('Notificaciones enviadas correctamente');
            },
            error: function(xhr, status, error) {
                console.error('Error al enviar notificaciones:', status, error);
                alert('Error al enviar notificaciones: ' + error);
            }
        });
    });
});
</script>
{% endblock %}
