{% extends "layouts/base.html" %}
{% load i18n static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h6>Importar Estudiantes</h6>
                </div>
                <div class="card-body">
                    {% if messages %}
                        <div class="alert alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                <p class="mb-0">{{ message }}</p>
                            {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Seleccionar archivo Excel</label>
                            <input type="hidden" name="curso_grupo_id" value="{{ curso_grupo.id }}">
                            <input class="form-control" type="file" id="formFile" name="file">
                        </div>
                        <button type="submit" class="btn btn-primary">Importar Estudiantes</button>
                        <a href="javascript:history.back()" class="btn btn-secondary">Cancelar</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
