{% extends "layouts/base.html" %}
{% load i18n static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h6>Resultados del Algoritmo Genético</h6>
                </div>
                <div class="card-body">
                    <h5>Mejor Horario Generado:</h5>
                    <ul>
                        {% for sustentacion in mejor_horario %}
                            <li>
                                Curso: {{ sustentacion.cursos_grupos.curso.nombre }} <br>
                                Estudiante: {{ sustentacion.estudiante.apellidos_nombres }} <br>
                                Jurado 1: {{ sustentacion.jurado1.apellidos_nombres }} <br>
                                Jurado 2: {{ sustentacion.jurado2.apellidos_nombres }} <br>
                                Asesor: {{ sustentacion.asesor.apellidos_nombres }} <br>
                                Título: {{ sustentacion.titulo }} <br>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
        