{% extends "layouts/base.html" %}
{% load i18n static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h6>Resultado del Algoritmo Genético</h6>
                    <label>Tipo de Sustentación: {{ tipo_sustentacion }}</label>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="d-flex justify-content-between">
                            <form method="post" action="{% url 'guardar_horarios' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success mt-3">Guardar Horarios</button>
                            </form>
                            <a href="javascript:history.back()" class="btn btn-secondary mt-3">Regresar</a>
                            <button id="reloadAlgoritmo" class="btn btn-primary mt-3" data-tipo-sustentacion="{{ tipo_sustentacion }}">Recargar Algoritmo</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <input type="text" id="searchInput" class="form-control" placeholder="Buscar...">
                    </div>
                    <div class="table-responsive">
                        <table class="table" id="resultTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Curso</th>
                                    <th>Estudiante</th>
                                    <th>Jurado 1</th>
                                    <th>Jurado 2</th>
                                    <th>Asesor</th>
                                    <th style="max-width: 200px;">Título</th>
                                    <th>Fecha</th>
                                    <th>Hora Inicio</th>
                                    <th>Hora Fin</th>
                                </tr>
                            </thead>
                            <tbody id="resultado-tabla">
                                {% for sustentacion in mejor_horario %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ sustentacion.cursos_grupos.curso }} - {{ sustentacion.cursos_grupos.grupo }} </td>
                                        <td>{{ sustentacion.estudiante }}</td>
                                        <td>{{ sustentacion.jurado1 }}</td>
                                        <td>{{ sustentacion.jurado2 }}</td>
                                        <td>{{ sustentacion.asesor }}</td>
                                        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">{{ sustentacion.titulo }}</td>
                                        <td>{{ sustentacion.fecha }}</td>
                                        <td>{{ sustentacion.hora_inicio }}</td>
                                        <td>{{ sustentacion.hora_fin }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loadingModal" tabindex="9999999" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>Generando horario, por favor espere...</p>
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-backdrop {
        z-index: 1040 !important;
    }
    .modal-content {
        z-index: 1100 !important;
    }
    #loadingModal {
        z-index: 1100 !important;
    }
</style>

<script>
    function formatDate(dateString) {
        const options = { weekday: 'long', year: 'numeric', month: '2-digit', day: '2-digit' };
        const date = new Date(dateString);
        if (!isNaN(date.getTime())) {
            return date.toLocaleDateString('es-ES', options);
        } else {
            return 'Fecha Inválida';
        }
    }
    
    function groupAndSortRows() {
        var table = document.querySelector('.table');
        var columnIndexCurso = Array.from(table.querySelector('thead').querySelectorAll('th')).findIndex(th => th.textContent.trim() === 'Curso');
        var rows = Array.from(table.querySelectorAll('tbody tr')).map(row => {
            var curso = row.querySelectorAll('td')[columnIndexCurso].textContent.trim();
            var fecha = row.querySelectorAll('td')[7].textContent.trim();
            var hora_inicio = row.querySelectorAll('td')[8].textContent.trim();
            return {
                row: row,
                curso: curso,
                fecha: fecha,
                hora_inicio: hora_inicio,
                fechaHora: new Date(fecha + ' ' + hora_inicio),
                fecha_valida: !isNaN(new Date(fecha).getTime())
            };
        });
    
        var groupedRows = {};
    
        rows.forEach(item => {
            if (!groupedRows[item.curso]) {
                groupedRows[item.curso] = { validas: [], invalidas: [] };
            }
            if (item.fecha_valida) {
                groupedRows[item.curso].validas.push(item);
            } else {
                groupedRows[item.curso].invalidas.push(item);
            }
        });
    
        table.querySelector('tbody').innerHTML = '';
    
        var globalIndex = 1;
    
        Object.keys(groupedRows).forEach(curso => {
            groupedRows[curso].validas.sort((a, b) => a.fechaHora - b.fechaHora);
    
            var headerRow = document.createElement('tr');
            var headerCell = document.createElement('th');
            headerCell.textContent = curso;
            headerCell.setAttribute('colspan', table.querySelectorAll('thead th').length);
            headerRow.appendChild(headerCell);
            table.querySelector('tbody').appendChild(headerRow);
    
            groupedRows[curso].validas.forEach(item => {
                item.row.querySelectorAll('td')[0].textContent = globalIndex++;
                item.row.querySelectorAll('td')[7].textContent = formatDate(item.fecha);
                table.querySelector('tbody').appendChild(item.row);
            });
    
            if (groupedRows[curso].invalidas.length > 0) {
                var invalidHeaderRow = document.createElement('tr');
    
                table.querySelector('tbody').appendChild(invalidHeaderRow);
    
                groupedRows[curso].invalidas.forEach(item => {
                    item.row.querySelectorAll('td')[0].textContent = globalIndex++;
                    item.row.querySelectorAll('td')[7].textContent = formatDate(item.fecha);
                    table.querySelector('tbody').appendChild(item.row);
                });
            }
        });
    }
    
    document.addEventListener("DOMContentLoaded", groupAndSortRows);
    
    document.getElementById('reloadAlgoritmo').addEventListener('click', function() {
        $('#loadingModal').modal('show');
    
        const tipoSustentacion = this.getAttribute('data-tipo-sustentacion');
    
        fetch("{% url 'ejecutar_algoritmo' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'X-Requested-With': 'XMLHttpRequest',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                tipo_sustentacion: tipoSustentacion
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.status === 'success') {
                let tbody = document.getElementById('resultado-tabla');
                tbody.innerHTML = '';
    
                let groupedRows = {};
    
                data.mejor_horario.forEach(function(sustentacion, index) {
                    let course = `${sustentacion.cursos_grupos.curso}`;
                    let fecha = sustentacion.fecha;
                    let hora_inicio = sustentacion.hora_inicio;
                    let hora_valida = !isNaN(new Date(fecha).getTime());
    
                    if (!groupedRows[course]) {
                        groupedRows[course] = { validas: [], invalidas: [] };
                    }
                    if (hora_valida) {
                        groupedRows[course].validas.push({
                            row: `
                                <tr>
                                    <td>${index + 1}</td>
                                    <td>${course}</td>
                                    <td>${sustentacion.estudiante}</td>
                                    <td>${sustentacion.jurado1}</td>
                                    <td>${sustentacion.jurado2}</td>
                                    <td>${sustentacion.asesor}</td>
                                    <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">${sustentacion.titulo}</td>
                                    <td>${formatDate(fecha)}</td>
                                    <td>${hora_inicio}</td>
                                    <td>${sustentacion.hora_fin}</td>
                                </tr>
                            `,
                            fecha: fecha,
                            hora_inicio: hora_inicio
                        });
                    } else {
                        groupedRows[course].invalidas.push({
                            row: `
                                <tr>
                                    <td>${index + 1}</td>
                                    <td>${course}</td>
                                    <td>${sustentacion.estudiante}</td>
                                    <td>${sustentacion.jurado1}</td>
                                    <td>${sustentacion.jurado2}</td>
                                    <td>${sustentacion.asesor}</td>
                                    <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">${sustentacion.titulo}</td>
                                    <td>${formatDate(fecha)}</td>
                                    <td>${hora_inicio}</td>
                                    <td>${sustentacion.hora_fin}</td>
                                </tr>
                            `,
                            fecha: fecha,
                            hora_inicio: hora_inicio
                        });
                    }
                });
    
                let globalIndex = 1;
    
                Object.keys(groupedRows).forEach(function(course) {
                    groupedRows[course].validas.sort((a, b) => {
                        let fechaA = new Date(a.fecha + ' ' + a.hora_inicio);
                        let fechaB = new Date(b.fecha + ' ' + b.hora_inicio);
                        return fechaA - fechaB;
                    });
    
                    let headerRow = `
                        <tr>
                            <th colspan="10">${course}</th>
                        </tr>
                    `;
                    tbody.insertAdjacentHTML('beforeend', headerRow);
    
                    groupedRows[course].validas.forEach(function(item) {
                        item.row = item.row.replace(/<td>\d+<\/td>/, `<td>${globalIndex++}</td>`);
                        item.row = item.row.replace(/<td>\d+\/\d+\/\d+<\/td>/, `<td>${formatDate(item.fecha)}</td>`);
                        tbody.insertAdjacentHTML('beforeend', item.row);
                    });
    
                    if (groupedRows[course].invalidas.length > 0) {
                        let invalidHeaderRow = `
                            <tr>
                                <th colspan="10">Fechas Inválidas</th>
                            </tr>
                        `;
                        tbody.insertAdjacentHTML('beforeend', invalidHeaderRow);
    
                        groupedRows[course].invalidas.forEach(function(item) {
                            item.row = item.row.replace(/<td>\d+<\/td>/, `<td>${globalIndex++}</td>`);
                            item.row = item.row.replace(/<td>\d+\/\d+\/\d+<\/td>/, `<td>${formatDate(item.fecha)}</td>`);
                            tbody.insertAdjacentHTML('beforeend', item.row);
                        });
                    }
                });
    
            } else {
                alert('Error al ejecutar el algoritmo: ' + data.message);
            }
            $('#loadingModal').modal('hide');
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error al ejecutar el algoritmo: ' + error.message);
            $('#loadingModal').modal('hide');
        });
    });
    
    document.getElementById('searchInput').addEventListener('keyup', function() {
        let filter = this.value.toUpperCase();
        let rows = document.querySelector("#resultTable tbody").rows;
    
        for (let i = 0; i < rows.length; i++) {
            let cells = rows[i].cells;
            let match = false;
            for (let j = 0; j < cells.length; j++) {
                if (cells[j].innerText.toUpperCase().indexOf(filter) > -1) {
                    match = true;
                    break;
                }
            }
            rows[i].style.display = match ? "" : "none";
        }
    });
    
    document.addEventListener("DOMContentLoaded", groupAndSortRows);
</script>

{% endblock %}