{% extends "layouts/base.html" %}
{% load i18n static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h6>Resultado del Algoritmo Genético</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Curso - Grupo</th>
                                    <th>Estudiante</th>
                                    <th>Jurado 1</th>
                                    <th>Jurado 2</th>
                                    <th>Asesor</th>
                                    <th style="max-width: 200px;">Título</th> <!-- Establece el ancho máximo aquí -->
                                    <th>Fecha</th>
                                    <th>Hora Inicio</th>
                                    <th>Hora Fin</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sustentacion in mejor_horario %}
                                    <tr>
                                        <td>{{ sustentacion.cursos_grupos.curso }} - {{ sustentacion.cursos_grupos.grupo }}</td>
                                        <td>{{ sustentacion.estudiante }}</td>
                                        <td>{{ sustentacion.jurado1 }}</td>
                                        <td>{{ sustentacion.jurado2 }}</td>
                                        <td>{{ sustentacion.asesor }}</td>
                                        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">{{ sustentacion.titulo }}</td>
                                        <td>{{ sustentacion.fecha }}</td>
                                        <td>{{ sustentacion.hora_inicio }}</td>
                                        <td>{{ sustentacion.hora_fin }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="d-flex justify-content-between">
                            <form method="post" action="{% url 'guardar_horarios' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success mt-3">Guardar Horarios</button>
                            </form>
                            <button id="reloadPage" class="btn btn-primary mt-3">Recargar Algoritmo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>

<script>
    document.getElementById('reloadPage').addEventListener('click', function() {
        location.reload();
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Obtener la tabla
        var table = document.querySelector('.table');

        // Obtener el índice de la columna "Curso - Grupo"
        var columnIndex = Array.from(table.querySelector('thead').querySelectorAll('th')).findIndex(th => th.textContent.trim() === 'Curso - Grupo');

        // Crear un objeto para almacenar las filas agrupadas por curso y grupo
        var groupedRows = {};

        // Iterar sobre las filas de la tabla
        Array.from(table.querySelectorAll('tbody tr')).forEach(function(row) {
            // Obtener el texto de la columna "Curso - Grupo" de la fila actual
            var courseGroup = row.querySelectorAll('td')[columnIndex].textContent.trim();

            // Verificar si ya existe una entrada para este curso y grupo en el objeto groupedRows
            if (!groupedRows[courseGroup]) {
                // Si no existe, crear una nueva entrada con un array vacío
                groupedRows[courseGroup] = [];
            }

            // Agregar la fila actual al array correspondiente en groupedRows
            groupedRows[courseGroup].push(row);
        });

        // Limpiar el cuerpo de la tabla
        table.querySelector('tbody').innerHTML = '';

        // Iterar sobre las entradas en groupedRows y agregarlas de nuevo a la tabla
        Object.keys(groupedRows).forEach(function(courseGroup) {
            // Agregar una fila para el curso y grupo actual
            var headerRow = document.createElement('tr');
            var headerCell = document.createElement('th');
            headerCell.textContent = courseGroup;
            headerCell.setAttribute('colspan', table.querySelectorAll('thead th').length);
            headerRow.appendChild(headerCell);
            table.querySelector('tbody').appendChild(headerRow);

            // Agregar todas las filas correspondientes a este curso y grupo
            groupedRows[courseGroup].forEach(function(row) {
                table.querySelector('tbody').appendChild(row);
            });
        });
    });
</script>

{% endblock %}
