{% extends 'layouts/base-fullscreen.html' %}
{% load i18n static admin_soft %}

{% block content %}



  <main>
    <section">
      <div>
        <div class="container d-flex  col-lg-4" style="padding-top: 5%;;">
          <!-- Contenedor principal encapsulador -->
          <div class="w-100 d-flex flex-column align-items-center" style="padding-top: 2%; border-radius: 8px; background-color: #F0EEF3;">
            <!-- Contenedor de la imagen de fondo -->
            <div class="w-100 d-flex align-items-center justify-content-center" style="height: 30vh; margin-bottom: -14%;margin-left: 12% ;">
              <div 
                   style="background-image:url('{% static 'img/curved-images/Logo_USAT.png' %}'); width: 50%; height: 150%; background-size: contain; background-repeat: no-repeat; background-position: 50%;">
              </div>
            </div> 
            <!-- Contenedor del formulario de inicio de sesión -->
            <div class="row w-100 position-relative">
              <div class="col-xl-10 col-lg-11 col-md-12 d-flex flex-column mx-auto">
                <div>
                  
                  <div class="text-center" >           
                    <h3  style="color: #E33439;">
                      Iniciar sesión  
                    </h3>
                  </div>
                  <div>
                    
                    <form role="form" method="post" action="#">
                      {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <span class="text-danger" , style="font-size: 13px; margin: 0dp;">{{ error }}</span>
                          <br>
                        {% endfor %}
                      {% endif %}
                      {% csrf_token %}
                      {% for field in form %}
                        <label for="{{ field.id_for_label }}" style="font-size: 15px; color: black; padding-top: 2%;">{{ field.label }}</label>
                        <div class="mb-3">
                          {{field}}
                        </div>
                      {% endfor %}
                      <p class=""> 
                        <a href="{% url 'password_reset' %}" style="color: black;">¿Has olvidado tu contraseña? Haz clic aqui</a>
                      </p>

                      <div class="text-center">
                        <button type="submit" class="btn  w-100 mt-1 mb-0" style="background-color: #E33439; color: white;">Acceder al Sistema</button>
                        <p class="mt-4">

                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
          
        </div>
      </div>
    </section>
  </main>


{% endblock content %}

{% block extrascript %}
    <script type="application/javascript">
        {% if form.username.errors %}
            notification.danger("{{ form.username.errors }}", 'top', 'right');
        {% endif %}
        {% if form.password.errors %}
            notification.danger("{{ form.password.errors }}", 'top', 'right');
        {% endif %}

        {% if user.is_authenticated %}
            var msg = "You are authenticated as {{ username }}, but are not authorized to " +
                "access this page.Would you like to login to a different account ?"
            notification.warning(msg, 'top', 'right');
        {% endif %}

        {% if form.errors and not form.non_field_errors %}
            {% if form.errors.items|length == 1 %}
                notification.warning("{% trans "Please correct the error below." %}", 'top', 'right');
            {% else %}
                notification.warning("{% trans "Please correct the errors below." %}", 'top', 'right');
            {% endif %}
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                notification.warning("{{ error|clean_text }}", 'top', 'right');
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}