{% extends 'layouts/base-fullscreen.html' %}
{% load i18n static admin_soft %}

{% block content %}
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto"> 
              <div class="card card-plain mt-8" style="padding-top: 2%; border-radius: 8px; background-color: #F0EEF3;">
                  <!-- Imagen------>
                  <div class="w-100 d-flex align-items-center justify-content-center" style="height: 30vh; margin-bottom: -23%;margin-left: 5% ;">
                    <div 
                         style="background-image:url('{% static 'img/curved-images/Logo_USAT.png' %}'); width: 50%; height: 150%; background-size: contain; background-repeat: no-repeat; background-position: 50%;">
                    </div>
                  </div> 
                <div class="card-header pb-0 text-left bg-transparent" >
                  <h4 style="color: #E33439; text-align: center;" class="font-weight-bolder " >
                    Restablecer contraseña
                  </h4>
                  <p class="mb-0" style="font-size: 15px; color: black; font-style:inherit;">
                    {% if msg %}
                      <span class="text-danger" >{{ msg | safe }}</span>
                    {% else %}
                    <strong>Añade tu Email</strong>
                    {% endif %}                      
                  </p>
                </div>
                <div class="card-body">    
                  <form role="form" method="post" action="#">
                      {% csrf_token %}
                      {% for field in form %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="mb-3">
                          <input 
                              type="text" 
                              class="form-control" 
                              placeholder="{{ field.label }}" 
                              name="{{ field.name }}"
                              id="{{ field.id_for_label }}"
                          >
                        </div>
                        <span class="text-danger">{{ field.errors }}</span>
                      {% endfor %}
                      <div class="text-center">
                        <button type="submit" class="btn w-100 " style="background-color: #E33439; color: white;">Restablecer</button>
                      </div>
                  </form>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}