{% extends 'layouts/base-fullscreen.html' %}
{% load i18n static admin_soft %}

{% block content %}

  {% include 'includes/navigation-fullscreen.html' %}

  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8" style="padding-top: 2%; border-radius: 8px; background-color: #F0EEF3;">
                <div class="card-header pb-0 text-left bg-transparent">
                  <h3 style="color: #E33439; text-align: center;" class="font-weight-bolder ">
                    Email Enviado
                  </h3>
                </div>
                <div class="card-body text-center font-weight-bolder" style="color: black; text-align: center;">    
                  Se ha enviado un correo electrónico a su dirección de correo electrónico. Por favor haga clic en el enlace y restablezca su contraseña.
                </div>
                <div style="margin-left: 20%; margin-right: 20%;">
                  <button type="button" class="btn w-100 mt-3 mb-0" style="background-color: #E33439; color: white;" onclick="window.location.href='/accounts/password_reset_confirm';">Continuar</button>
                  <p class="mt-2"></p>
                </div> 
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block n3" style="margin-top: 5%;">
                <div class="oblique-image fixed-top h-100" style="background-repeat: no-repeat; background-size: contain; background-position: center; background-image:url('{% static 'img/LlamasSoft.png' %}');"></div>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </main>

  {% include 'includes/footer-fullscreen.html' %}

{% endblock content %}