{% extends 'layouts/base-fullscreen.html' %}
{% load i18n static %}

{% block title %} Sign OUT {% endblock %}

{% block content %}
<main>
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center form-bg-image">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="shadow border-0 rounded p-4 p-lg-5 w-35 fmxw-500" style="border-radius: 8px; background-color: #F0EEF3; margin-top: 5%;">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="h3" style="color: #E33439;">{% trans 'Log in' %}</h1>
                            <p class="text-gray" style="font-size: 15px; color: black;">{% trans "<strong> Por favor, vuelva a iniciar sesion.</strong>" %}</p>
                        </div>
                        <div class="mt-5">
                            <div class="d-grid mt-3">
                                <a href="{% url 'admin:index' %}" class="btn w-100 mt-1 mb-0" style="background-color: #E33439; color: white;">{% trans 'Log in again' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block extrascript %}
    <script type="application/javascript">
        notification.info("<p class='{{ direction.panel }}'>" + "{% trans "Por favor, vuelva a iniciar sesion." %}" + "</p>", 'top', '{{ direction.notify }}');
    </script>
{% endblock %}