{% load i18n static admin_soft %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LlamasSoft</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-5e2ESR8Ycmos6g3gAKr1Jvwye8sW4U1u/cAKulfVJnkakCcMqhOudbtPnvJ+nbv7" crossorigin="anonymous">
    <style>
        .nav-link .icon {
            width: 24px;
            height: 24px;
        }
        .nav-link .nav-link-text {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <aside class="sidenav navbar-vertical navbar-expand-xs fixed-start" id="sidenav-main" style="background-color: #E33439;">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary position-absolute end-0 top-0 d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand" href="{% url 'admin:index' %}">
                <img src="{% static 'img/LlamaSoft_logoo.png' %}" class="navbar-brand-img" alt="" style="width: 60px; height: 60px; max-height: 70px; margin-top: -7%; margin-left: -12%;">
                <span class="ms-1 font-weight-bold" style="color: white; font-size: 25px; vertical-align: -2%;"><strong> LlamasSoft </strong></span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse w-auto h-100" id="sidenav-collapse-main" style="background-color: white;">
            <ul class="navbar-nav">
                
                {% admin_get_menu as app_list %}
                {% if app_list %}
                    <!-- Individual items for all users -->
                    <li class="nav-item list-unstyled">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                            <div class="text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-tachometer-alt" style="color: #E33439;"></i>
                            </div>
                            <span class="nav-link-text ms-1" style="color: black;"> Dashboard</span>
                        </a>
                    </li>

                    <!-- Users item for all users -->
                    <li class="nav-item list-unstyled">
                        <a class="nav-link" href="/admin/auth/user/">
                            <div class="text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-users" style="color: #E33439;"></i>
                            </div>
                            <span class="nav-link-text ms-1" style="color: black;">Usuarios</span>
                        </a>
                    </li>
                    <li class="nav-item list-unstyled">
                      <a class="nav-link" href="/semestres/">
                          <div class="text-center me-2 d-flex align-items-center justify-content-center">
                              <i class="fas fa-graduation-cap" style="color: #E33439;"></i>
                          </div>
                          <span class="nav-link-text ms-1" style="color: black;">Semestre</span>
                      </a>
                  </li>

                        <!-- Dropdown menu for Persona -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#collapsePersona" aria-expanded="false">
                                <div class="text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="fas fa-user-friends" style="color: #E33439;"></i>
                                </div>
                                <span class="nav-link-text ms-1" style="color: black;"> Persona </span>
                            </a>
                            <div id="collapsePersona" class="collapse">
                                <ul class="flex-column nav ms-4">
                                    <li class="nav-item list-unstyled">
                                        <a class="nav-link" href="/admin/App/profesor/">
                                            <span class="nav-link-text" style="color: black;"> Profesores</span>
                                        </a>
                                    </li>
                                    <li class="nav-item list-unstyled">
                                        <a class="nav-link" href="{% url 'jurados' %}">
                                            <span class="nav-link-text" style="color: black;">Jurados</span>
                                        </a>
                                    </li>
                                    <li class="nav-item list-unstyled">
                                        <a class="nav-link" href="/admin/App/estudiante/">
                                            <span class="nav-link-text" style="color: black;">Estudiantes</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Dropdown menu for Opciones Curso -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#collapseCurso" aria-expanded="false">
                                <div class="text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="fas fa-book" style="color: #E33439;"></i>
                                </div>
                                <span class="nav-link-text ms-1"style="color: black;" > Opciones Curso </span>
                            </a>
                            <div id="collapseCurso" class="collapse">
                                <ul class="flex-column nav ms-4">
                                    <li class="nav-item list-unstyled">
                                        <a class="nav-link" href="/admin/App/curso/">
                                            <span class="nav-link-text" style="color: black;">Cursos</span>
                                        </a>
                                    </li>
                                    <li class="nav-item list-unstyled">
                                        <a class="nav-link" href="/admin/App/grupo/">
                                            <span class="nav-link-text" style="color: black;">Grupos</span>
                                        </a>
                                    </li>
                                    <li class="nav-item list-unstyled">
                                        <a class="nav-link" href="/admin/App/semana_sustentacion/">
                                            <span class="nav-link-text" style="color: black;">Semanas de <br>Sustentación</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Dropdown menu for Horarios -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#collapseHorarios" aria-expanded="false">
                                <div class="text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="fas fa-calendar-alt" style="color: #E33439;"></i>
                                </div>
                                <span class="nav-link-text ms-1" style="color: black;"> Horarios </span>
                            </a>
                            <div id="collapseHorarios" class="collapse">
                                <ul class="flex-column nav ms-4">
                                    <li class="nav-item list-unstyled">
                                        <a class="nav-link" href="/ejecutar_algoritmo/">
                                            <span class="nav-link-text" style="color: black;">Generar Horario</span>
                                        </a>
                                    </li>
                                    <li class="nav-item list-unstyled">
                                        <a class="nav-link" href="/disponibilidad/">
                                            <span class="nav-link-text" style="color: black;">Disponibilidad Horaria</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link collapsed" data-bs-toggle="collapse" href="#collapseReportes" aria-expanded="false">
                              <div class="text-center me-2 d-flex align-items-center justify-content-center">
                                  <i class="fas fa-calendar-alt" style="color: #E33439;"></i>
                              </div>
                              <span class="nav-link-text ms-1" style="color: black;"> Reportes </span>
                          </a>
                          <div id="collapseReportes" class="collapse">
                              <ul class="flex-column nav ms-4">
                                  <li class="nav-item list-unstyled">
                                      <a class="nav-link" href="/reporte_sustentaciones/">
                                          <span class="nav-link-text" style="color: black;">Rep. de Sustentaciones</span>
                                      </a>
                                  </li>
                              </ul>
                              <ul class="flex-column nav ms-4">
                                <li class="nav-item list-unstyled">
                                    <a class="nav-link" href="/sustentaciones/">
                                        <span class="nav-link-text" style="color: black;">Rep. de compensaciones</span>
                                    </a>
                                </li>
                            </ul>
                          </div>
                      </li>
                      
                      <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder"> Cuenta </h6>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="{% url 'profile' %}">
                            <div class="text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-user" style="color: #E33439;"></i>
                            </div>
                            <span class="nav-link-text ms-1" style="color: black;"> Perfil </span>
                        </a>
                    </li>
                    {% else %}
                    {% if request.user.is_authenticated and not request.user.is_superuser %}

                        <!-- For non-superusers -->
                        <li class="nav-item">
                            <a class="nav-link {% if 'disponibilidad' in segment %} active {% endif %}" href="{% url 'disponibilidad_list' %}">
                                <div class="text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="fas fa-calendar-alt" style="color: #E33439;"></i>
                                </div>
                                <span class="nav-link-text ms-1">Disponibilidad Horaria</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if 'listar_sustentaciones' in segment %} active {% endif %}" href="{% url 'listar_sustentaciones' %}">
                                <div class="text-center me-2 d-flex align-items-center justify-content-center">
                                    <i class="fas fa-file-alt" style="color: #E33439;"></i>
                                </div>
                                <span class="nav-link-text ms-1">Rep. Sustentaciones</span>
                            </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link {% if 'listar_compensacion_horas' in segment %} active {% endif %}" href="{% url 'listar_compensacion_horas' %}">
                              <div class="text-center me-2 d-flex align-items-center justify-content-center">
                                  <i class="fas fa-file-alt" style="color: #E33439;"></i>
                              </div>
                              <span class="nav-link-text ms-1" >Rep. Horas compensadas</span>
                          </a>
                      </li>
                      <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder" >Cuenta</h6>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="{% url 'profile' %}">
                            <div class="text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-user" style="color: #E33439;"></i>
                            </div>
                            <span class="nav-link-text ms-1">Perfil</span>
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </aside>
</body>
</html>